<!--
<ion-header>
  <ion-navbar>
    <ion-title>Greensly Dispositivos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-item *ngFor="let device of devices" (click)="goToDevice(device.tipo)">
    {{ device.nombre }}
  </button> 

  <div padding>
    <button ion-button block (click)="config()">Configurar</button>
    <button ion-button block (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
  </ion-content>
-->
<ion-content class="background">
  <ion-card>
    <ion-card-header>
      Dispositivos Greensly 
    </ion-card-header>
    <ion-card-content>
        <button ion-item *ngFor="let device of devices" (click)="goToDevice(device.tipo)">
            {{ device.nombre }}
          </button>
    </ion-card-content>
  </ion-card>
  <button ion-button block (click)="config()">Configurar</button>
  <button ion-button class="bottom" block color="danger" style="animation: logout 3s"(click)="cerrarSesion()">Cerrar Sesión</button>    
</ion-content>